/* logo color: #f05258 */

body {
    background-color: #f7f7e9;
}
hr {
    border-color: rgb(194, 194, 194);
    border-style: dotted none none;
    border-width: 4px;
    height: 0px;
    width: 30px;
}
img {
    height: 200px;
}
h1 {
    color:#f05258;
}
h3 {
    color: #f05258;
}